.button {
  font: inherit;
  border: 1px solid #008080;
  background: #008080;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.button:hover,
.button:active {
  background: #129696;
  border-color: #1a8686;
}

.button:focus {
  outline: none;
}
  